/* Dropdpwn arrow */

svg {
    cursor: pointer;
}

#arrow-1,
#arrow-2 {
    transition: all 0.5s ease;
}    

#arrow-2 {
    opacity: 0;
    transform: translateY(-100%);
} 

svg:hover #arrow-1 {
    transform: translateY(40%);
    opacity: 0;
}

svg:hover #arrow-2 {
    opacity: 1;
    transform: translateY(0);
}

/* Right arrow */

.arrow-right {
    position: relative;
    z-index: 2;
    fill: #022B41;
    transition: fill 0.3s ease;
}