#firstPart {
    width: 100%;
    height: 95vh;
    background-color: #022b41;
    background-image: radial-gradient(circle at bottom left, #02486e, transparent 50%);
    color: white;
    padding: 40px;
}

#firstPart h1 > span {
    border-bottom: 3px solid #0795F9;
}

#firstPart div:nth-last-child(1) {
    padding-top: 20px;
    border-top: 1px solid #5e6e747c;
}

#firstPart div:nth-child(1) p {
    border: 2px solid #74888f7c;
    padding: 6px 10px;
    border-radius: 50px;
    text-align: center;
    width: 225px;
}

section h1 {
    font-weight: 700;
    margin-bottom: 130px;
}

#secondPart {
    height: 95vh;
    width: 100%;
    background-image: url('/form-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#secondPart h2 {
    font-weight: 700;
}

#secondPart p {
    border: 2px solid #022b41;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    padding: 5px;
    font-weight: 700;
}

#secondPart input {
    height: 60px;
    border: 2px solid #c2c2c27c;
}

#secondPart textarea {
    padding: 15px 20px;
    font-weight: 600;
    height: 100px;
    border: 2px solid #c2c2c27c;
}

input:focus,
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color:none !important; 
}

input::placeholder {
    color: #022b41 !important;
    opacity: 1 !important;  
}

.btn-form {
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease; 
}

.btn-contact span,
.btn-form span {
    position: relative;
    z-index:    1;
}

.btn-form::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #022b41;
    z-index: 1;
    transition: left 0.4s ease; 
}


.btn-form:hover {
    color: white; 
}

.btn-form:hover::before {
    left: 0; 
}

.btn-form {
    border: 2px solid #022b41;
    background-color: white;
}

.btn-contact {
    border: none;
    background-color: white;
    padding: 5px 25px;
    position: relative;
    overflow: hidden;
    color: #022b41;
    transition: color 0.4s ease; 
}

.btn-contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0795F9;
    z-index: 0;
    transition: left 0.4s ease; 
}

.btn-contact:hover {
    color: white; 
}

.btn-contact:hover .arrow-path{
    fill: white !important; /* Cambia a blanco en el hover */
}

.btn-contact:hover::before {
    left: 0; 
}

/*Responsive styles*/

@media (width >= 720px) {
    #firstPart h1 {
        font-size: 45px;
    }
    #firstPart {
        padding: 80px;
    }
}

@media (width >= 992px) {
    #firstPart, 
    #secondPart {
        width: 50%;
    }
}

@media (width >= 1500px) {
    #firstPart h1 {
        font-size: 63px;
    }
    #firstPart h1 span {
        border-bottom: 4px solid #0795F9;
    }
    #firstPart div:nth-last-child(1) p{
        font-size: 25px;
    }
}