.navbar-toggler {
    border: none;
    outline: none;
    background: transparent;
}

.border-custom {
    border-right: 2px solid rgb(228, 228, 228);
    width: 60px;
    padding-left: 10px;
}

.btn-consultation {
    border: 2px solid #022b41;
    background-color: white;
    padding: 2px 30px;
    height: 35px;
    border-radius: 50px;
    font-weight: 600;
}


nav ul a:hover {
    color: #0795F9;
    transition: 0.5s ease;
}

nav a.navlink {
    color: #022b41;
    text-decoration: none;
    transition: color 0.5s ease;
}

.link-change {
    color: #0795F9 !important;
}

/* Animaciones */

a.nav-link-active:hover svg #arrow-1 {
    transform: translateY(40%);
    opacity: 0;
}

a.nav-link-active:hover svg #arrow-2 {
    opacity: 1;
    transform: translateY(0);
}